@import "./variables.scss";

.head {
    * {
      display: inline-block;
    }

    display: flex;
    flex-direction: column;
    padding-top: $--title-padding-top;
    padding-bottom: $--title-padding-bottom;
    .title {
      font-size: min(5rem, $--max-title-size);
      line-height: 1.2;
      a.game {
        font-weight: bold;
        &:hover {
          color: $--color-secondary-shade;
          text-decoration: underline;
        }
      }
    }
    .credit {
      color: $--color-secondary-shade;
      font-size: $--dynamic-subtext-size;
      span {
        color: #63b0cd;
      }
    }
    .tag {
      a {
        font-weight: bold;
    }
  }
}