$--color-primary: #0d1b1e;
$--color-primary-rgb: 13,27,30;
$--color-primary-contrast: #ffffff;
$--color-primary-contrast-rgb: 255,255,255;
$--color-primary-shade: #0b181a;
$--color-primary-tint: #253235;

$--color-secondary: #Eaf2ef;
$--color-secondary-rgb: 234,242,239;
$--color-secondary-contrast: #000000;
$--color-secondary-contrast-rgb: 0,0,0;
$--color-secondary-shade: #ced5d2;
$--color-secondary-tint: #ecf3f1;

$--title-padding-top: 50px;
$--title-padding-bottom: 30px;
$--max-title-size: 70px;
$--dynamic-subtext-size: 0.8rem;